body {
  margin: 0;
}

article {
  line-height: 0;
}

img {
  display: none;
}

.fadeIn {
  width: 20vw;
  height: 20vw;
  margin: 0;
  display: inline-block;
  animation: fade_in ease 1s;
  -webkit-animation: fade_in ease 1s;
}

@keyframes fade_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
